doctype html
html(ng-app='personal-trainer', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Personal Trainer
    include views/master/stylesheets
  body
    div(ns-nav, ab-title='Personal Trainer')
    include views/master/body
    include views/master/footer
    include views/master/scripts

