//- Foundation CSS
link(rel='stylesheet', href='/vendor/foundation/css/normalize.css')
link(rel='stylesheet', href='/vendor/foundation/css/foundation.css')
//- Fontawesome & toastr
link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
link(href='/vendor/toastr/toastr.css', rel='stylesheet')
//- Custom CSS
link(href='/index.css', rel='stylesheet')
link(href='/components/directives/ns-nav/ns-nav.css', rel='stylesheet')
//- Modernizr for foundation
script(src='/vendor/foundation/js/vendor/modernizr.js')
